<main>
  <h1>Angular Currency Converter</h1>
  <div class="converter__wrapper">
    <div class="data__wrapper">
      <p>1 Nigerian Naira equals</p>
      <h1>0.00063 United States Dollar</h1>
      <p>18th Aug, 01:08 UTC - Disclaimer</p>
      <div class="input__wrapper">
        <div class="" sui-input>
          <input type="text" value="1" />
        </div>
        <sui-select suiPlaceholder="Currency" [suiOptions]="currencies" />
      </div>
      <div class="input__wrapper">
        <div class="" sui-input>
          <input type="text" value="1" />
        </div>
        <sui-select suiPlaceholder="Currency" [suiOptions]="currencies" />
      </div>
    </div>
    <div sui-container class="chart__wrapper">
      <app-line-chart />
    </div>
  </div>
</main>
