<main>
  <h1>Angular Currency Converter</h1>
  <div class="converter__wrapper">
    <div class="data__wrapper">
      @if (!targetLabel && !baseLabel) {
      <h1>Select a Currency Pair to Convert</h1>
      } @if (targetLabel && baseLabel) {
      <p>1 {{ baseLabel }} equals</p>
      <h1>
        {{ conversionRate.toLocaleString() }} {{ targetLabel }} ({{
          formattedDate
        }})
      </h1>
      }
      <app-currency-form
        (formChanged)="updateForm($event)"
        [convertedAmount]="convertedAmount"
        [isLoading]="isLoading"
      />
    </div>
    <div sui-container class="chart__wrapper">
      <app-line-chart [historySet]="historySet" />
    </div>
  </div>
</main>
